@import url(4.css);

p {
	font-weight : bold;
}
span {
	color : blue;
	font-weight : 900;
	font-size : 1.3em;
}
article {
	background : pink;
	margin : 1em;
	padding-left : 1em;
	padding-right : 1em;
}
footer {
	font-weight : bold;
}
hr {
	size : 4;
}